.btn-0 { background: #725870; }
.btn-1 { background: #691590; }
.btn-2 { background: #179274; }
.btn-3 { background: #649729; }
.btn-4 { background: #322639; }
.btn-5 { background: #867517; }
.btn-6 { background: #215359; }
.btn-7 { background: #548427; }
.btn-8 { background: #773444; }
.btn-9 { background: #287833; }
.btn-10 { background: #199436; }
.btn-11 { background: #642226; }
.btn-12 { background: #912757; }
.btn-13 { background: #123868; }
.btn-14 { background: #349574; }
.btn-15 { background: #196480; }
.btn-16 { background: #382788; }
.btn-17 { background: #994316; }
.btn-18 { background: #924277; }
.btn-19 { background: #115594; }
.btn-20 { background: #477510; }
.btn-21 { background: #119398; }
.btn-22 { background: #162052; }
.btn-23 { background: #108432; }
.btn-24 { background: #200184; }
.btn-25 { background: #780561; }
.btn-26 { background: #977883; }
.btn-27 { background: #111962; }
.btn-28 { background: #608333; }
.btn-29 { background: #556655; }
.btn-30 { background: #114688; }
.btn-31 { background: #377053; }
.btn-32 { background: #987106; }
.btn-33 { background: #821375; }
.btn-34 { background: #325039; }
.btn-35 { background: #295698; }
.btn-36 { background: #631152; }
.btn-37 { background: #241910; }
.btn-38 { background: #196709; }
.btn-39 { background: #523944; }
.btn-40 { background: #694366; }
.btn-41 { background: #875992; }
.btn-42 { background: #560576; }
.btn-43 { background: #146417; }
.btn-44 { background: #348779; }
.btn-45 { background: #287579; }
.btn-46 { background: #387676; }
.btn-47 { background: #584667; }
.btn-48 { background: #809054; }
.btn-49 { background: #335998; }
.btn-50 { background: #663317; }
.btn-51 { background: #665336; }
.btn-52 { background: #398439; }
.btn-53 { background: #705178; }
.btn-54 { background: #609481; }
.btn-55 { background: #173133; }
.btn-56 { background: #532763; }
.btn-57 { background: #233550; }
.btn-58 { background: #276700; }
.btn-59 { background: #457714; }
